<template>
  <div id="wrapper">
    <img id="logo" src="~@/assets/logo.png" alt="electron-vue" />
    <main>
      <div class="left-side">
        <span class="title">Welcome to TapFood Test Application!</span>
        <system-information></system-information>
      </div>

      <div class="right-side">
        <div class="doc">
          <div class="title">Getting Started</div>
          <p>
            use
            <i>Menu</i> button to add new product or generate a factor
          </p>
          <!-- <div class="title">Sqlite3 pre requets on windows</div>
          <div>
            <p>
              From:
              <a
                href="https://github.com/mapbox/node-sqlite3/wiki/Building-On-Windows"
              >https://github.com/mapbox/node-sqlite3/wiki/Building-On-Windows</a>
            </p>Install required software:
            <ul>
              <li>
                Python 2.x:
                <a href="https://www.python.org/downloads/release/python-2711/">link</a>
              </li>
              <li>
                Win SDK:
                <a
                  href="http://www.microsoft.com/en-us/download/details.aspx?displayLang=en&id=8279"
                >link</a>
              </li>
              <li>
                Microsoft Visual Studio 2010+:
                <a href="http://go.microsoft.com/?linkid=9816758">link</a>
              </li>
            </ul>
          </div>-->
        </div>
      </div>
    </main>
  </div>
</template>

<script>
import SystemInformation from './LandingPage/SystemInformation'

export default {
  name: 'landing-page',
  components: { SystemInformation },
  methods: {
    open (link) {
      this.$electron.shell.openExternal(link)
    }
  }
}
</script>

<style>
@import "../assets/styles/main.css";
</style>
