
<template>
  <div>
    <b-navbar toggleable="lg" type="dark" variant="primary">
      <b-container>
        <b-navbar-brand href="#">TapFood</b-navbar-brand>
        <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>
        <b-collapse id="nav-collapse" is-nav>
          <b-navbar-nav class="ml-auto">
            <b-nav-item-dropdown right>
              <template slot="button-content">
                <em>Menu</em>
              </template>
              <b-dropdown-item>
                <router-link to="/">Home</router-link>
              </b-dropdown-item>
              <b-dropdown-item>
                <router-link to="/AddProduct">Add Product</router-link>
              </b-dropdown-item>
              <b-dropdown-item>
                <router-link to="/Factor">Factor generator</router-link>
              </b-dropdown-item>
            </b-nav-item-dropdown>
          </b-navbar-nav>
        </b-collapse>
      </b-container>
    </b-navbar>
  </div>
</template>
<script>
export default {}
</script>

<style>
@import "../assets/styles/main.css";
</style>