<template>
  <div id="wrapper">
    <b-card class="mt-3" header="Add Product Form">
      <b-form @submit="onSubmit" @reset="onReset" v-if="show">
        <b-form-group id="input-group-1" label="Product Name:" label-for="input-1">
          <b-form-input
            id="input-1"
            v-model="form.name"
            type="text"
            required
            placeholder="Enter product name"
          ></b-form-input>
        </b-form-group>

        <b-form-group id="input-group-2" label="Product Price:" label-for="input-2">
          <b-form-input
            id="input-2"
            v-model="form.price"
            type="number"
            step="0.001"
            required
            placeholder="Enter product price"
          ></b-form-input>
        </b-form-group>
        <b-button type="submit" variant="primary">Add Product</b-button>
        <b-button type="reset" variant="danger">Clear form</b-button>
      </b-form>
    </b-card>
    <b-card class="mt-3" header="Products">
      <b-table ref="table" bordered hover :items="products" :fields="fields">
        <template slot="[actions]" slot-scope="row">
          <b-button
            size="sm"
            variant="danger"
            @click="removeProduct(row.item, row.index, $event.target)"
            class="mr-1"
          >Remove Product</b-button>
        </template>
      </b-table>
    </b-card>
  </div>
</template>

<script>
export default {
  data () {
    return {
      form: {
        name: '',
        price: ''
      },
      show: true,
      products: [],
      fields: [
        {
          key: 'name',
          label: 'Product Name',
          sortable: true,
          sortDirection: 'desc'
        },
        {
          key: 'price',
          label: 'Product Price',
          sortable: true,
          class: 'text-center'
        },
        { key: 'actions', label: 'Actions' }
      ]
    }
  },
  mounted: async function () {
    await this.getProducts()
  },
  methods: {
    onSubmit: async function (evt) {
      evt.preventDefault()
      const data = this.form
      await this.createProduct(data)
    },
    onReset: function (evt) {
      evt.preventDefault()
      this.resetForm()
    },
    resetForm: function () {
      this.form.name = ''
      this.form.price = ''
      this.show = false
      this.$nextTick(() => {
        this.show = true
      })
    },
    createProduct: async function (data) {
      try {
        await this.$db.products.insert(data)
        await this.getProducts()
        this.resetForm()
      } catch (e) {
        alert(e)
      }
    },
    removeProduct: async function (item, index, env) {
      try {
        await this.$db.products.remove({ _id: item._id })
        await this.getProducts()
      } catch (e) {
        alert(e)
      }
    },
    getProducts: async function () {
      this.products = await this.$db.products.find({}).exec()
    }
  }
}
</script>