<template>
  <div id="wrapper">
    <b-card
      class="m-3"
      header="Product List"
    >
      <b-table
        bordered
        hover
        :items="products"
        :fields="fields"
      >
        <template
          slot="[actions]"
          slot-scope="row"
        >
          <b-button
            size="sm"
            variant="primary"
            @click="addProduct(row.item, row.index, $event.target)"
            class="mr-1"
          >Add Product</b-button>

          <b-button
            size="sm"
            variant="danger"
            @click="removeProduct(row.item, row.index, $event.target)"
            class="mr-1"
          >Remove Product</b-button>
        </template>
      </b-table>
    </b-card>
    <b-card
      title="Factor Details"
      class="m-auto"
      style="max-width: 40rem"
    >
      <div id="printFactor">
        <b-table
          class="mt-3 m-auto"
          ref="table"
          :items="factor"
          :fields="factorFields"
          head-variant="dark"
          small
        ></b-table>
        <p class="text-right">
          Total :
          <b>{{totalPrice}}</b>
        </p>
      </div>

    </b-card>

  </div>
</template>

<script>

export default {
  data () {
    return {

      products: [],
      fields: [
        {
          key: 'name',
          label: 'Product',
          sortable: true,
          sortDirection: 'desc'
        },
        {
          key: 'price',
          label: 'Price',
          sortable: true,
          class: 'text-center'
        },
        { key: 'actions', label: 'Actions' }
      ],
      factor: [],
      factorFields: [
        {
          key: 'name',
          label: 'Product',
          sortable: true,
          sortDirection: 'desc'
        },
        {
          key: 'price',
          label: 'Unit Price',
          sortable: true,
          class: 'text-center'
        },
        {
          key: 'count',
          label: 'Count',
          sortable: true,
          class: 'text-center'
        },
        {
          key: 'total',
          label: 'Total Price',
          sortable: true,
          class: 'text-center'
        }
      ],
      totalPrice: 0
    }
  },
  mounted: async function () {
    await this.getProducts()
  },
  methods: {
    addProduct: function (item, index, button) {
      item['index'] = index
      item['count'] = item['count'] + 1 || 1
      item['total'] = Math.round(item['count'] * item['price'] * 100) / 100
      if (!this.factor.some(f => f.index === index)) {
        this.factor.push(item)
      }

      this.$refs.table.refresh()
      this.updateTotalPrice()
    },
    removeProduct: function (item, index, button) {
      item['index'] = index

      let _index = this.factor.findIndex(x => x.index === index)

      if (typeof this.factor[_index] !== 'undefined') {
        if (this.factor[_index].count - 1 > 0) {
          item.count--
          item['total'] = Math.round(item['count'] * item['price'] * 100) / 100
        } else {
          item.count = 0
          this.factor.splice(_index, 1)
        }
        this.updateTotalPrice()
        this.$refs.table.refresh()
      }
    },
    updateTotalPrice: function () {
      this.totalPrice = 0
      this.factor.map(f => {
        this.totalPrice =
          Math.round((this.totalPrice + f.price * f.count) * 100) / 100
      })
    },
    getProducts: async function () {
      this.products = await this.$db.products.find({}).exec()
    }
  }
}
</script>