<template>
  <div id="app">
    <Navbar />
    <router-view></router-view>
  </div>
</template>

<script>
  import Navbar from './components/Navbar.vue'

export default {
    name: 'tapfood',
    components: {
      Navbar
    }
  }
</script>

<style>
  @import "~bootstrap/dist/css/bootstrap.css";
  @import "~bootstrap-vue/dist/bootstrap-vue.css";
  /* CSS */
</style>
